/* Put your css in here */
body {
  overflow-y: scroll;
}

#module-album span[data-ng-click] {
  cursor: pointer;
  color: blue;
}

#module-album span[data-ng-click]:HOVER {
  text-decoration: underline;
}

#module-album .selected span {
  color: red;
}

.button {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid blue;
  background-color: lightblue;
  padding: 5px;
  user-select: none;
}

.button:HOVER {
  text-decoration: none;
  background-color: lightgray;
  border: 1px solid gray;
}

#module-stash {
  width: 100%;
}

#stash-toolbar {
  margin-bottom: 10px;
}

.stashRow {

}

.stashPicture {
  position: relative;
  float: left;
  margin-left: 1px;
  margin-bottom: 1px;
  z-index: 1;
}

.stashPicture:HOVER {

}

.stashPicture.selected {

}

.stashThumbnail {
  position: relative;
  cursor: pointer;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

.stashThumbnail:HOVER {
  background-color: transparent;
}

.stashThumbnail img {
  position: relative;
  z-index: 10;
  margin: auto;
}

.stashThumbnail .btn {
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0.2em 0.8em;
}

.stashPicture:not(.selected) .stashThumbnail:HOVER img {
  background-color: transparent;
}

.selected .stashThumbnail {
  background-color: #E3FEC8;
  border: 3px solid #51a351;
  color : #51a351;
}

.selected .stashThumbnail img, .removed .stashThumbnail img, 
.overlayed .stashThumbnail img {
  opacity: 1;
}

.removed .stashThumbnail {
  background-color: orange;
  border: 3px solid red;
  color: red;
}

.stashThumbnail .overlay {
  cursor: default;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 20;
  opacity: 0.8;
  background-color: white;
  text-align: center;
  padding: 2em 0.2em 1.5em 0.2em;
  display: none;
}

.overlayed .stashThumbnail .overlay {
  display: block;
}

.stashThumbnail .overlay .icon-spinner {
  display: none;
}

.stashThumbnail .overlay .btn-action {
  display: none;
  cursor: pointer;
  margin: auto;
  font-size: 2em;
}

/* On selection hide spinner and show check icon. */
.selected .stashThumbnail .overlay .icon-spinner {
  display: none;
}
.selected .stashThumbnail .overlay .btn-action {
  display: block;
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.selected .stashThumbnail .overlay .btn-action:HOVER {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}
.selected .stashThumbnail .overlay .icon-action:before {
  content: "\e067";
}

/* On remove hide spinner and show remove icon. */
.removed .stashThumbnail .overlay .icon-spinner {
  display: none;
}
.removed .stashThumbnail .overlay .btn-action {
  display: block;
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.removed .stashThumbnail .overlay .btn-action:HOVER {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.removed .stashThumbnail .overlay .icon-action:before {
  content: "\e088";
}

.rotatingLeft .stashThumbnail .overlay .icon-spinner, 
.rotatingRight .stashThumbnail .overlay .icon-spinner {
  display: inline-block;
  color: orange;
}

.stashThumbnail .buttonBar {
  cursor: default;
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 20;
  background-color: white;
  text-align: center;
  padding: 1em 0.2em 0.5em 0.2em;
}

.stashPicture:not(.selected):not(.removed):not(.overlayed) .stashThumbnail:HOVER .buttonBar {
  display: block;
  background-color: rgba(200, 200, 200);
  background-color: rgba(200, 200, 200, 0.7);
  /*border: 5px solid red;*/
}

.stashThumbnail .buttonBar .btn {
  margin-bottom: 0.5em;
}
