/* Put your css in here */
body {
  overflow-y: scroll;
}

#albums ul {
  white-space: wrap;
  margin: 0px;
}

#albums li {
  display: inline;
  list-style-type: none;
  padding-left: 2px;
  padding-right: 2px;
}

#albums span[data-ng-click] {
  cursor: pointer;
  color: blue;
}

#albums span[data-ng-click]:HOVER {
  text-decoration: underline;
}

#albums .selected span {
  color: red;
}

.button {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid blue;
  background-color: lightblue;
  padding: 5px;
  user-select: none;
}

.button:HOVER {
  text-decoration: none;
  background-color: lightgray;
  border: 1px solid gray;
}

#stash {
  width: 100%;
}

.stashRow {

}

.stashPicture {
  position: relative;
  float: left;
  margin-left: 1px;
  margin-bottom: 1px;
  z-index: 1;
}

.stashPicture:HOVER {

}

.stashPicture.selected {

}

.stashThumbnail {
  position: relative;
  cursor: pointer;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

.stashThumbnail:HOVER {
  background-color: transparent;
}

.stashThumbnail img {
  position: relative;
  z-index: 10;
  margin: auto;
}

.stashThumbnail .btn {
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0.4em 0.8em;
}

.stashPicture:not(.selected) .stashThumbnail:HOVER img {
  /*
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  */
  /*opacity: 0.8;*/
  background-color: transparent;
}

.selected .stashThumbnail {
  background-color: #E3FEC8;
  border: 3px solid #51a351;
  color : #51a351;
}

.selected .stashThumbnail img, .removed .stashThumbnail img, 
.overlayed .stashThumbnail img {
  opacity: 1;
}

.removed .stashThumbnail {
  background-color: orange;
  border: 3px solid red;
  color: red;
}

.stashThumbnail .overlay {
  cursor: default;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 20;
  opacity: 0.8;
  background-color: white;
  text-align: center;
  padding: 2em 0.2em 1.5em 0.2em;
  display: none;
}

.stashThumbnail .overlay i {
  font-size: 2em;
}

.overlayed .stashThumbnail .overlay {
  display: block;
}

.stashThumbnail .overlay .icon-spinner {
  display: none;
}

.stashThumbnail .overlay .btn-action {
  display: none;
  cursor: pointer;
  margin: auto;
}

/* On selection hide spinner and show check icon. */
.selected .stashThumbnail .overlay .icon-spinner {
  display: none;
}
.selected .stashThumbnail .overlay .btn-action {
  display: block;
}
.selected .stashThumbnail .overlay .icon-action:before {
  content: "\f046";
}

/* On remove hide spinner and show remove icon. */
.removed .stashThumbnail .overlay .icon-spinner {
  display: none;
}
.removed .stashThumbnail .overlay .btn-action {
  display: block;
}
.removed .stashThumbnail .overlay .icon-action:before {
  content: "\f057";
}

.rotatingLeft .stashThumbnail .overlay .icon-spinner, 
.rotatingRight .stashThumbnail .overlay .icon-spinner {
  display: inline-block;
  color: orange;
}

.stashThumbnail .buttonBar {
  cursor: default;
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 20;
  background-color: white;
  text-align: center;
  padding: 1em 0.2em 0.5em 0.2em;
  font-size: 0.7em;
  /*color: #007dbc;*/
}

.stashPicture:not(.selected):not(.removed):not(.overlayed) .stashThumbnail:HOVER .buttonBar {
  display: block;
  background-color: rgba(255,255,255);
  background-color: rgba(255,255,255, 0.7);
  /*border: 5px solid red;*/
}

.stashThumbnail .buttonBar .btn-group {
  font-size: 1em;
}

.stashThumbnail .buttonBar .btn-group>.btn+.btn {
	margin-left: -4px;
}

.stashThumbnail .buttonBar .btn {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.stashThumbnail .buttonBar .icon-large {
  
}
