/* Put your css in here */
body {
  overflow-y: scroll;
}

#albums ul {
  white-space: nowrap;
  margin: 0px;
}

#albums li {
  display: inline;
  list-style-type: none;
  padding-left: 2px;
  padding-right: 2px;
}

#albums span[data-ng-click] {
  cursor: pointer;
  color: blue;
}

#albums span[data-ng-click]:HOVER {
  text-decoration: underline;
}

#albums .selected span {
  color: red;
}

.button {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid blue;
  background-color: lightblue;
  padding: 5px;
  user-select: none;
}

.button:HOVER {
  text-decoration: none;
  background-color: lightgray;
  border: 1px solid gray;
}

#stash {
  width: 100%;
}

.stashRow {

}

.stashPicture {
  position: relative;
  float: left;
  margin-left: 1px;
  margin-bottom: 1px;
  z-index: 1;
}

.stashPicture:HOVER {
  z-index: 10;
}

.stashPicture.selected {

}

.stashThumbnail {
  position: relative;
  cursor: pointer;
  z-index: 1;
  font-size: 0.75em;
}

.stashThumbnail:HOVER {
  z-index: 10;
  background-color: transparent;
}

.stashThumbnail img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.stashPicture:not(.selected) .stashThumbnail:HOVER img {
  /*
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  */
  /*opacity: 0.8;*/
  z-index: 10;
  background-color: transparent;
}

.selected .stashThumbnail {
  background-color: #E3FEC8;
  border: 3px solid #51a351;
}

.selected .stashThumbnail img {
  opacity: 0.3;
}

.stashThumbnail .overlay {
  cursor: default;
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-width: 8em;
  z-index: 20;
  background-color: white;
  text-align: center;
  padding: 2em 0.2em 1.5em 0.2em;
  /*color: #007dbc;*/
}

.stashPicture:not(.selected) .stashThumbnail:HOVER .overlay {
  display: block;
  background-color: rgba(255,255,255);
  background-color: rgba(255,255,255, 0.7);
  /*border: 5px solid red;*/
}

.stashThumbnail .overlay .btn {
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0.4em 0.8em;
}

.stashThumbnail .overlay .icon-large {
  
}

/*
.stashThumbnail .overlay .icon {
  cursor: pointer;
  padding: 1px;
}

.stashThumbnail .overlay .icon:HOVER {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 1);
  opacity: 1;
}

.stashThumbnail .overlay .icon.rotateLeft {
  color: #51a351;
}

.stashThumbnail .overlay .icon.rotateRight {
  color: #51a351;
}

.stashThumbnail .overlay .icon.tags {
  color: #c49c38;
}

.stashThumbnail .overlay .icon.remove {
  color: #da4f49;
} */

.stashThumbnail .overlay i {
  /*position: relative;*/
}

.stashThumbnail .overlay i:HOVER {
}