<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true" version="3.0">

	<display-name>Pics Wab</display-name>

	<context-param>
        <param-name>contextClass</param-name>
        <param-value>org.eclipse.virgo.web.dm.ServerOsgiBundleXmlWebApplicationContext</param-value>
    </context-param>
    
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:OSGI-INF/*.xml, /WEB-INF/pics-servlet.xml</param-value>
	</context-param>
    
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>OpaFilter</filter-name>
		<filter-class>fr.mby.opa.web.servlet.filter.OsgiPortalAppFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>OpaFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>pics</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.eclipse.virgo.web.dm.ServerOsgiBundleXmlWebApplicationContext</param-value>
		</init-param>	
		<load-on-startup>2</load-on-startup>
		<multipart-config />
	</servlet>
	
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>fr.mby.opa.pics.web.controller.UplaodServlet</servlet-class>

		<load-on-startup>1</load-on-startup>
		<multipart-config />
	</servlet>

	<servlet-mapping>
		<servlet-name>pics</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/uploadServlet</url-pattern>
	</servlet-mapping>
	
</web-app>